*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 150px;
    background-color: #C4C4C4;
    padding: 64px 38px;
}
header h1{
    float: left;
    margin-right: 300px;
}
header nav{
    margin-top: 10px;
}
header li{
    float: left;
    margin-right: 20px;
}
header li a{
    padding: 5px 10px;
    /* background-color: #e10b0b; */
    color: #000000;
    font-size: 18px;
}
.slider{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
.slider img{
    width: 100%;
    margin-top: -300px;
}
.news{
    padding: 34px;
}
article{
    width: 33.33%;
    background-color: #FF9900;
    padding-bottom: 12px;
    float: left;
}
.second{
    background-color: #FFC700;
}
.third{
    background-color: #FFE600;
}
.statiaimg{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.statiaimg img{
    width: 100%;
}
.statiaimg .pirvelimg{
    margin-top: -70px;
}
.statiaimg .mesameimg{
    margin-top: -180px;
}
article h2, .statiatext{
    margin: 14px 12px;
    font-size: 18px;
}
.statiatext, .link a, .back a{
    font-size: 12px;
}
.link{
    margin: 14px 0 0 12px;
}
.link a{
    color: rgba(0, 0, 0, 0.5);
}
footer{
    clear: left;
}
footer p{
    padding: 48px 0 30px 38px;
}

/*---- meore page styles ---- */
.back{
    margin: 14px 46px;
}
.back a{
    color: rgba(0, 0, 0, 0.5);
}
section{
    background-color: #FF9900;
    width: 90%;
    margin: 0 auto;
    padding: 56px 0 32px 0;
}
.innerstatiaimg{
    width: 33.33%;
    height: 200px;
    overflow: hidden;
    float: left;
    margin-bottom: 36px;
}
.innerstatiaimg img{
    width: 100%;
}
section h2{
    margin: 0 0 70px 10px;
}
section p{
    margin: 0 20px 0 10px;
}
.section2{
    background-color: #FFC700;
}
.section3{
    background-color: #FFE600;
}